Repository osmlab/atlas-checks, pull requests merged in 2020-09, with the labels that each got.

#346 Water Area checks
  config/configuration.json
  docs/available_checks.md
  docs/checks/waterAreaCheck.md
  src/main/java/org/openstreetmap/atlas/checks/validation/areas/WaterAreaCheck.java
  src/test/java/org/openstreetmap/atlas/checks/validation/areas/WaterAreaCheckTest.java
  src/test/java/org/openstreetmap/atlas/checks/validation/areas/WaterAreaCheckTestRule.java
Labels: new integrity check

#332 Basic waterway checks
  config/configuration.json
  docs/available_checks.md
  docs/checks/waterWayChecks.md
  docs/utilities/elevationUtilities.md
  scripts/elevationData/requirements.txt
  scripts/elevationData/srtm-hgt.py
  src/main/java/org/openstreetmap/atlas/checks/utility/CommonTagFilters.java
  src/main/java/org/openstreetmap/atlas/checks/utility/CompressionUtilities.java
  src/main/java/org/openstreetmap/atlas/checks/utility/ElevationUtilities.java
  src/main/java/org/openstreetmap/atlas/checks/validation/intersections/OceanBleedingCheck.java
  src/main/java/org/openstreetmap/atlas/checks/validation/linear/lines/WaterWayCheck.java
  src/test/java/org/openstreetmap/atlas/checks/utility/CompressionUtilitiesTest.java
  src/test/java/org/openstreetmap/atlas/checks/utility/ElevationUtilitiesTest.java
  src/test/java/org/openstreetmap/atlas/checks/validation/linear/lines/WaterWayCheckTest.java
  src/test/java/org/openstreetmap/atlas/checks/validation/linear/lines/WaterWayCheckTestRule.java
Labels: new integrity check

#370 countryShardMapFromShardFiles Reads too Much
  src/main/java/org/openstreetmap/atlas/checks/distributed/IntegrityChecksCommandArguments.java
  src/main/java/org/openstreetmap/atlas/checks/distributed/ShardedIntegrityChecksSparkJob.java
Labels: bug

#361 CheckFlag Fix Suggestions
  src/main/java/org/openstreetmap/atlas/checks/event/CheckFlagEvent.java
  src/main/java/org/openstreetmap/atlas/checks/flag/CheckFlag.java
  src/main/java/org/openstreetmap/atlas/checks/validation/areas/AreasWithHighwayTagCheck.java
  src/test/java/org/openstreetmap/atlas/checks/event/CheckFlagEventTest.java
  src/test/java/org/openstreetmap/atlas/checks/event/CheckFlagEventTestRule.java
  src/test/java/org/openstreetmap/atlas/checks/flag/CheckFlagTest.java
  src/test/java/org/openstreetmap/atlas/checks/validation/areas/AreasWithHighwayTagCheckTest.java
Labels: new feature
