Repository osmlab/atlas-checks, pull requests merged in 2020-07, with the labels that each got.

#313 Conditional restriction check
  config/configuration.json
  docs/available_checks.md
  docs/checks/conditionalRestrictionCheck.md
  src/main/java/org/openstreetmap/atlas/checks/validation/tag/ConditionalRestrictionCheck.java
  src/test/java/org/openstreetmap/atlas/checks/validation/tag/ConditionalRestrictionCheckTest.java
  src/test/java/org/openstreetmap/atlas/checks/validation/tag/ConditionalRestrictionCheckTestRule.java
Labels: new integrity check

#308 ApproximateWayCheck
  config/configuration.json
  docs/available_checks.md
  docs/checks/approximateWayCheck.md
  src/main/java/org/openstreetmap/atlas/checks/validation/linear/edges/ApproximateWayCheck.java
  src/test/java/org/openstreetmap/atlas/checks/validation/linear/edges/ApproximateWayCheckTest.java
  src/test/java/org/openstreetmap/atlas/checks/validation/linear/edges/ApproximateWayCheckTestRule.java
Labels: new integrity check

#328 Updated CHANGELOG.md for version 6.0.9
  CHANGELOG.md
Labels: release

#294 Add simple Dockerfile sandbox & docs
  Dockerfile
  docs/dev.md
  docs/docker.md
Labels: new feature
