Repository osmlab/atlas-checks, pull requests merged in 2020-10, with the labels that each got.

#378 [MapRouletteUploadCommand] Add documentation
  docs/images/example_mr_project.png
  docs/maproulette_upload.md
  src/main/java/org/openstreetmap/atlas/checks/maproulette/MapRouletteUploadCommand.java
Labels: documentation

#368 Extend InvalidTagsCheck with regex filtering for illegal sources
  config/configuration.json
  docs/checks/invalidTagsCheck.md
  src/main/java/org/openstreetmap/atlas/checks/validation/tag/InvalidTagsCheck.java
  src/main/resources/org/openstreetmap/atlas/checks/validation/tag/invalid-tags-check-regex-filter.json
  src/main/resources/org/openstreetmap/atlas/checks/validation/tag/invalidTags.txt
  src/test/java/org/openstreetmap/atlas/checks/validation/tag/InvalidTagsCheckTest.java
  src/test/java/org/openstreetmap/atlas/checks/validation/tag/InvalidTagsCheckTestRule.java
Labels: enhancement

#358 Construction check
  config/configuration.json
  docs/available_checks.md
  docs/checks/constructionCheck.md
  src/main/java/org/openstreetmap/atlas/checks/validation/tag/ConstructionCheck.java
  src/test/java/org/openstreetmap/atlas/checks/validation/tag/ConstructionCheckTest.java
  src/test/java/org/openstreetmap/atlas/checks/validation/tag/ConstructionCheckTestRule.java
Labels: new integrity check

#350 New check: TunnelBridgeHeightLimitCheck (#343)
  config/configuration.json
  docs/available_checks.md
  docs/checks/tunnelBridgeHeightLimitCheck.md
  src/main/java/org/openstreetmap/atlas/checks/validation/tag/TunnelBridgeHeightLimitCheck.java
  src/test/java/org/openstreetmap/atlas/checks/validation/tag/TunnelBridgeHeightLimitCheckTest.java
  src/test/java/org/openstreetmap/atlas/checks/validation/tag/TunnelBridgeHeightLimitCheckTestRule.java
Labels: new integrity check

#381 Suddenhighwaytypechange
  config/configuration.json
  docs/available_checks.md
  docs/checks/suddenHighwayTypeChangeCheck.md
  src/main/java/org/openstreetmap/atlas/checks/validation/linear/edges/SuddenHighwayTypeChangeCheck.java
  src/test/java/org/openstreetmap/atlas/checks/validation/linear/edges/SuddenHighwayTypeChangeCheckTest.java
  src/test/java/org/openstreetmap/atlas/checks/validation/linear/edges/SuddenHighwayTypeChangeCheckTestRule.java
Labels: new integrity check
